<%- include('ek/header', {bot, user, path}) %>
<div class="info">
<div class="container">

<h3 align="center" style="color:#f8f8ff;margin-top:25px;">
    <strong>Lrows Bot List Genel Botlar
    </strong></h3>
<div align="center">
  </div>
  <br>    
  <div class="row">
  
   <% if (bot.ayar.has('botlar')) { %>
  <% const sorted = Object.keys(bot.ayar.fetch('botlar')).sort((a, b) => { return (bot.ayar.fetch(`botlar.${b}.oy`) || 0) - (bot.ayar.fetch(`botlar.${a}.oy`) || 0) }) %>
  <% const top = sorted.splice(0, Object.keys(bot.ayar.fetch('botlar')).length) %>
  <% const map = top.map(x=>x) %>
	<% for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) { %>
  <% let idd = map[i] %>
   <% if(bot.ayar.has(`botlar.${idd}.durum`) === true) { %>
		<% if (bot.ayar.fetch(`botlar.${idd}.durum`) === "Onaylı") { %>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg botcard" style="width:14rem;height:16rem;background:#d2cdff;">
    <div value="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" align="center" class="card-img">
  
            <a name="aramaResim" id="aramaResim" href="/bot/<%=idd%>" style="color:#fff"><img  src="<%=bot.ayar.fetch(`botlar.${idd}.avatar`)%>" style="width:50%;margin:5px;border-radius:50%;" <%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></a>
    
          <% if(bot.ayar.has(`botlar.${idd}.sertifika`) === true) { %>
       
            <img src="https://cdn3.iconfinder.com/data/icons/study-education-9/96/success_medal_done-512.png" width="30px" height="30px">
       <% } %>
       <div class="badge badge-primary"><strong style='color: white;'>Oy: </strong><span style='color:whitesmoke;text-transform: none;'><%=bot.ayar.fetch(`botlar.${idd}.oy`)||0%></span></div>
                     
          </div>
      <div align="center" class="card-body">
                               <div class="card-title">
                                      <h5><a style="color:#212121;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:40px;"><%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></a></h5>
                                                             <%if (bot.users.get(idd)){%>
						<% if (bot.users.get(idd).presence.status === 'online') {%>
			<div class="counts" id="status-idle" ><div style="padding:5px;" class="badge badge-success">Çevrimiçi</div></div>
						<%} else if(bot.users.get(idd).presence.status === 'offline'){%>
			<div class="counts" id="status-dnd" ><div style="padding:5px;" class="badge badge-secondary">Görünmez</div></div>
						<%}else if (bot.users.get(idd).presence.status === 'dnd'){%>
				<div class="counts" id="status-idle"><div style="padding:5px;" class="badge badge-danger">Rahatsız Etmeyin</div></div>
						<%}else if(bot.users.get(idd).presence.status === 'idle'){%>
						<div class="counts" id="status-idle"><div style="padding:5px;color:#000;" class="badge badge-warning">Boşta</div></div>
						<%} %>  
        <% } else { %>
						<div class="counts">Bot Kapalı</div>
        <% } %></div>         
                              <h6 align="center"><a href="/bot/<%=idd%>" style="font-size:15px; color:#7289da;">Görüntüle</a>
                            </div>
                       </div><br>
    </div>
      <% } %>
    <% } %>
   <% } %>
   <% } else {%>
   <center><h5 style="color:#red">
     Sistemde hiç bot bulunmuyor!
     </h5></center>
   <% } %>
   </div></div></div></div>

<script>
$(document).ready(function(){
 $("#ara").keyup(function(){
    var value = $(this).val().toLowerCase();
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  //etiket filtresi
  $("#etiketselect").change(function(){
    var value = $(this).val();
    if (value === 'noneFilter') {
      window.location.reload(true);
      return
    }
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function(){
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  })
  ;
});
</script>
  
<style>
  .info{
  margin: 50px;
  color: Black;
  line-height: 35px;
  margin-left: 20%;
  margin-top: -2%;
  }
    .jumbotron {
    background:transparent;
  }
    .row {
    background: #2222;
    padding: 15px;
  }
</style>
  